/* UNIVERSAL */



/* NAVIGATION */

.nav {
  background-color: rgb(39, 36, 36);
  color: white;
  opacity: 0.9;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

.nav button {
  margin-right: 20px;
  height: 30px;
}

/* INTRO */

.intro {
  text-align: center;
}

/* COLLECTION */

.collection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}