/* UNIVERSAL */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Metal+Mania&family=Orbitron&display=swap');
/* font-family: 'Metal Mania', cursive; */
/* font-family: 'Bangers', cursive; */
/* font-family: 'Orbitron', sans-serif; */

body {
  background-image: url('./images/landscape.png');
  background-color: rgb(25, 22, 22);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  
}

a {
  text-decoration: none;
  text-shadow: none;
  color: rgb(44, 246, 44)
}

.App {
  font-family: 'Courier New', Courier, monospace
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  color:black;
  text-shadow: 2px 2px #ff0000;
}

/* NAVIGATION */

.nav {
  background-color: rgba(39, 36, 36, 0.9);
  color: white;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  list-style: none;
  display: inline;
  margin-right: 20px;
  font-family: 'Metal Mania', cursive;
  font-size: 20px;
  color: greenyellow;
}

.nav button {
  margin-right: 20px;
  height: 30px;
  font-family: 'Bangers', cursive;
  background-color: rgb(245, 164, 72);
  border: none;
}

/* HOME */

.intro {
  text-align: center;
  margin-bottom: 100px;
  font-size: 20px;
  padding: 0 200px 0;
}

.disclaimer {
  margin-top: 35px;
  font-style: italic;
  margin-bottom: 50px;
  font-size: 15px;
  text-shadow: none;
}

.intro p {
  text-shadow: 2px 2px black;
  font-weight: bold;
  margin-bottom: 45px;
  line-height: 35px;
}

.link-button {
  padding: 10px 15px;
  font-family: 'Bangers', cursive;
  background-color: rgb(245, 164, 72);
  color:black;
  border: 3px solid rgb(25, 22, 22);
}

/* COLLECTION */

.collection {
  margin: 50px 0 50px;
}

.collection-canvas {
  background-color: rgba(51, 49, 49, 0.8);
  padding: 25px 50px 35px;
}

.collection-canvas h2 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 45px;
  color: white;
}

.pieces {
  display: flex;
  justify-content: space-evenly;
}

.piece {
  text-align: center;
}

.piece h3 {
  font-family: 'Metal Mania', cursive;
  color: greenyellow;
}

.increments {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.increments input {
  height: 50px;
  margin: 0 20px;
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 16px;
}

.incdec {
  color: white;
  background-color: rgb(245, 164, 72);
  font-family: 'Bangers', cursive;
  font-size: 35px;
  height: 50px;
  width: 50px;
  border: none;
}

.mint-button button{
  background-color: rgb(245, 164, 72);
  color: white;
  font-family: 'Bangers', cursive;
  border: none;
  font-size: 20px;
  padding: 15px;
  margin-top: 15px;
}

/* ABOUT */

.about {
  margin-top: 105px;
  text-align: center;
}

.about p {
  text-shadow: 2px 2px black;
  font-weight: bold;
}

.story, .community {
  margin-bottom: 70px;
  padding: 0 100px 0;
  font-size: 20px;
}

.story button, .community button {
  height: 30px;
  font-family: 'Bangers', cursive;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

.content p {
  max-width: 500px;
}

.content img {
  border: 5px solid rgb(25, 22, 22);
}

.content button {
  background-color: rgb(245, 164, 72);
  border: 3px solid rgb(25, 22, 22);
  display: block;
  margin: 0 auto;
  font-size: 25px;
  height: 50px;
  padding: 0 15px;
}


/* ROADMAP */

.roadmap {
  text-align: left;
}

.roadmap-canvas {
  background-color: rgb(41, 38, 38);
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
}

.roadmap-canvas h2 {
  text-align: center;
}

.roadmap-canvas h2, h3 {
  color: white;
}

.roadmap-item ul {
  list-style: none;
  padding: 0;
}

/* SOCIAL */

.social {
  display: flex;
  justify-content: space-evenly;
}

