/* UNIVERSAL */



/* NAVIGATION */

.nav {
  background-color: rgb(39, 36, 36);
  color: white;
  opacity: 0.9;
  padding: 8px 0;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

/* INTRO */

.intro {
  text-align: center;
}